@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

* {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Playfair Display", sans-serif;
  background: #000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

p,
i,
b,
a {
  font-size: 1.8rem;
}

/* MEDIA QUERIES for Screens larger than 1024px*/
@media screen and (min-width: 1024px) {
  #gameSection {
    padding: 3em 3em;
  }
  div .hangman {
    height: calc(50vh + 1vmin);
  }
}

/* MEDIA QUERIES for Tablet Horizontal Screens*/
@media only screen and (max-width: 1024px) {
  .key-btn {
    font-size: calc(0.5em + 1vmin) !important;
  }
  #gameSection {
    padding: 5em 3em;
  }
  div .hangman {
    height: calc(40vh + 1vmin);
  }
}

/* MEDIA QUERIES for Tablet Screens*/
@media only screen and (max-width: 900px) {
  #userInput,
  #guess {
    display: none !important;
  }
  .key-btn {
    font-size: calc(0.45em + 1vmin) !important;
  }
  .word {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  div .hangman {
    height: calc(30vh + 1vmin);
  }
  #gameSection {
    padding: 3em 2em;
  }
}

/* MEDIA QUERIES for Mobile Screens*/
@media only screen and (max-width: 740px) {
  #userInput,
  #guess {
    display: none !important;
  }
  .key-btn {
    font-size: calc(1em + 1vmin) !important;
  }
  .word,
  #hint p {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
  }
  div .hangman {
    height: calc(18vh + 1vmin);
  }
  #gameSection {
    padding: 3em 1em;
  }
}

/* Game */
.invis-container {
  padding: 20px 30px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  overflow: hidden;
  border: 3px;
  border-radius: 10px;
}

.game-container {
  padding: 20px 30px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  min-height: 85vh;
  overflow: hidden;
  border: 3px solid #ffffff;
  border-radius: 10px;
  background-color: #141313be;
}

.figure-container {
  fill: transparent;
  stroke: rgb(255, 255, 255);
  stroke-width: 4px;
  stroke-linecap: round;
}

.figure-part {
  display: block;
}

.start-face {
  display: none;
}

.lose-face {
  display: none;
}

.word {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

#wrong-letters p {
  margin-top: 2rem;
  font-size: calc(0.75em + 1vmin);
  font-weight: 600;
}

#wrong-letters span {
  font-size: 2rem;
}

.letter {
  border-bottom: 3px solid #fffdfd;
  font-size: 4rem;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 30px;
  color: #ffffff;
}

.final-msg-container {
  display: none;
  text-align: center;
}

#final-message {
  margin-top: 0.5rem;
  font-size: calc(0.75em + 1vmin);
}

#letter-error {
  display: none;
  color: #ff3333;
  font-weight: bolder;
  padding: 5px;
}

#hint p {
  margin-top: 5rem;
  font-size: 1.5rem;
}

/* General button stylings (Play, Restart, Section) */
.generalButton {
  background-color: #ffffff;
  border-radius: 5px;
  margin-left: 5px;
  font-weight: bolder;
  font-size: 2rem;
}

.generalButton:hover {
  background-color: #96cdfc;
}

#userInput {
  display: none;
}

#guess {
  font-size: 1.8rem;
}

#submit-btn {
  font-size: 1.9rem;
  border-radius: 5px;
}

#key-btns {
  display: none;
}

.key-btn {
  font-size: 1.9rem;
  border-radius: 5px;
}

#score span {
  font-size: calc(0.75em + 1vmin);
}

#score .lose {
  color: #ff3333;
}

#score .win {
  color: #62c962;
}

.sr-only {
  font-size: 2rem;
}

/** Header **/

.gameTitle {
  font-size: 8rem;
  display: flex;
  align-items: center;
  animation: glow 2s ease-in-out infinite alternate;
  justify-content: center;
  color: #a1d3ff;
}

.sub-heading {
  font-size: 1.75rem;
  width: 30ch;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes glow {
  from {
    text-shadow: 0 0 24px #ffffff;
  }
  to {
    text-shadow: 0 0 30px #ffffff, 0 0 10px #ffffff;
  }
}

/* MEDIA QUERIES */
@media screen and (min-width: 600px) {
  .page-heading {
    font-size: 5rem;
  }

  .sub-heading {
    font-size: 3rem;
  }
}

.grow {
  padding: 5px 5px 20px 20px;
  height: 60px;
  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  overflow: hidden;
}
.grow:hover {
  height: 230px;
}

.Social_Media {
  margin-top: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.footer__social-list {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

#loadingDiv {
  width: 100%;
  height: 100%;
  position: absolute; /* Overlay over gameSection */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Dark background with opacity */
  z-index: 2; /* Stack order */
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader img {
  width: 120px;
  height: 120px;
}

.loader span {
  display: inline-block;
  font-size: 2.3em;
  color: white;
}

.l {
  animation: bounce 1s ease infinite;
  -webkit-animation: bounce 1s ease infinite;
}
.o {
  animation: bounce 1s ease infinite 0.2s;
  -webkit-animation: bounce 1s ease infinite 0.2s;
}
.a {
  animation: bounce 1s ease infinite 0.3s;
  -webkit-animation: bounce 1s ease infinite 0.3s;
}
.d {
  animation: bounce 1s ease infinite 0.4s;
  -webkit-animation: bounce 1s ease infinite 0.4s;
}
.i {
  animation: bounce 1s ease infinite 0.5s;
  -webkit-animation: bounce 1s ease infinite 0.5s;
}
.n {
  animation: bounce 1s ease infinite 0.6s;
  -webkit-animation: bounce 1s ease infinite 0.6s;
}
.g {
  animation: bounce 1s ease infinite 0.7s;
  -webkit-animation: bounce 1s ease infinite 0.7s;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  58% {
    transform: scale(1, 1) translateY(0);
  }
  65% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  58% {
    transform: scale(1, 1) translateY(-7px);
  }
  65% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/********** Scroll-to-top button ************/
button#scrollButton {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: none;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #972297;
  color: #fff;

  cursor: pointer;
  transition: all 0.25s;
}

button#scrollButton:hover {
  opacity: 0.7;
}

html {
  scroll-behavior: smooth;
}

#sectionbuff {
  height: 60px;
  background-color: black;
}

#sectionbuff2 {
  height: 80px;
  background-color: #4b0d7e;
}

#buff {
  height: 80px;
  background-color: black;
}

#section1 {
  height: 650px;
  background-color: black;
}

#gameSection {
  height: 650px;
  position: relative;
}

#creditsSection {
  height: 1000px;
}

#creditSection {
  margin-top: 10vh;
}

.credit-container {
  background-color: #fff;
  color: #232222;
}

.credits-content {
  display: flex;
}
